<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <title>Hello</title>
</head>
<body>
    Hello {{ name }}
</body>
</html> -->


{% extends "layout.html" %}

{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HP shit</title>
</head>
<body>
    <h1> Register for Hogwarts </h1>
    <form action="/register" method="post">
        <input name="name" placeholder="Name" type="text">
        <input name="email" placeholder="Email" type="text">
        <select name="houses">
            <option disabled selected value=>Houses</option>
            <option value="Gryffindor">Gryffindor</option>
            <option value="Hufflepuff">Hufflepuff</option>
            <option value="Ravenclaw">Ravenclaw</option>
            <option value="Slytherin">Slytherin</option>
        </select>
        <input type ="submit" value="Register">
    </form>
</body>
</html>
{% endblock %}